/* Content:
	* markClear
	* markGeneralStyle
	* markGeneralLayout

	* markStyle
	* markLayout
*
* {
	outline: 1px solid #000
}

/*	markClear	*/

* {
	margin: 0; padding: 0;
	border: none;
	line-height: 1em;
}
body {
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: subpixel-antialiased;
}
a {
	text-decoration: none;
}
.clear {
	clear: both;
}


/*	markGeneralStyle	*/

body {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: normal;	
	font-size: 16px;
}
body>header, 
body>footer,
body>main,
.wrap-body,
.wrap-content,
.wrap-content>* {
	background-color: rgba(0, 0, 0, 0.1);
}

p {
	line-height: 1.5em;
}


/*	markGeneralLayout	*/

.wrap-body {
	width: 1200px; /* @media ab max-width=width umstellen */
	margin: auto;
}
	@media screen and (max-width: 1200px) {.wrap-body {width: 100%;}}
.wrap-content {
	width: 900px;
	margin: auto;
	position: relative;
}
	@media screen and (max-width: 920px) {.wrap-content {width: 100%;}}
.wrap-content>* {
	position: relative;
	padding: 10px;
}
body>header, 
body>footer  {
	width: 100%;
}
body>main {
	margin: 70px 0;
}
section.wrap-content {
	margin: 40px auto;
}
article {
	margin: 10px 0;
}


/*	markStyle	*/



/*	markLayout	*/

/*	markLayoutHeader	*/
body>header nav {
	float:right;
}
body>header nav li {
	display: inline;
}
