/* Content:
	* marker-clear
	* marker-clear-layout

	* marker-style
	* marker-style-general
	
	* marker-layout
*/
* {
	outline:1px solid #000
}


/*	marker-clear	*/

* {
	margin:0; padding:0;
	border:none;
	line-height:1em;
}
body {
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: subpixel-antialiased;
}
a {
	text-decoration:none;
}
.clear {
	clear:both;
}


/*	marker-clear-layout	*/

body {
	width:1200px; /* @media ab max-width=width umstellen */

	min-height:600px;
	margin:auto;
}
	@media screen and (max-width: 1199px) {body {width:900px;}}
	@media screen and (max-width: 899px) {body {width:100%;}}
body>div {
	position:relative;
	padding:10px;
}
body>div>* {
	position:relative;
	width:100%;
	padding:10px 0;
}
header nav {
	position:absolute;
	bottom:10px; right:0;
}
header nav li {
	display:inline;
}
@media screen and (max-width: 899px) {
	body {width:100%;}
}


/*	marker-style	*/

/*	marker-style-general	*/

html {
	background:url('texture_turq.jpg') repeat;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	font-weight:normal;	
	font-size:16px;
	background:url('light.png') top center no-repeat;
}


/*	marker-layout	*/


